{# _menu.html #}

  {% if title=='Start' %} 
    <a href="/" class="w3-button w3-green" title="Start"><i class="glyphicon glyphicon-home"></i>&nbsp;Start</a>
    <a href="/admin" class="w3-button w3-right" title="Admin" >Admin&nbsp;<i class="glyphicon glyphicon-cog"></i></a>
  {% else %}
    <a href="/" class="w3-button" title="Start"><i class="glyphicon glyphicon-home"></i>&nbsp;Start</a>
    <a href="/admin" class="w3-button w3-green w3-right" title="Admin" >Admin&nbsp;<i class="glyphicon glyphicon-cog"></i></a>
  {% endif %}
 
