{# _menu.html #}
 
    <a href="/" class="w3-button {% if title=='Start' %} w3-green {% endif %}" title="Start"><i class="glyphicon glyphicon-home"></i>&nbsp;Start</a>
    <a href="/admin" class="w3-button w3-right  {% if title=='Admin' %} w3-green {% endif %}" title="Admin" >Admin&nbsp;<i class="glyphicon glyphicon-cog"></i></a>
    <a href="/help" class="w3-button w3-right {% if title=='Help' %} w3-green {% endif %}" title="Help" >Help&nbsp;<i class="glyphicon glyphicon-question-sign"></i></a>
    
  
 
