{# _process_status.html #}

<div class="w3-row">
    <div class="w3-col s3 {%if active_day %}w3-green{% endif %}">
        <span><i class="bi bi-calendar"></i></span>&nbsp;<span>{{active_day}}</span>
    </div>
    <div class="w3-col s3 
            {%if active_winde %}w3-green{% endif %}
            {%if (winde_status|string ) !='WindeStatus.AUFGEBAUT' %}w3-border w3-border-red{% endif%}">
            <span>W</span>&nbsp;<span>{{active_winde}}</span>
    </div>
    <div class="w3-col s3 w3-container {%if active_wf %}w3-green{% endif %}">
        <span>WF</span>&nbsp;<span>{{active_wf}}</span>
    </div>
    <div class="w3-col s3 w3-container">
        {% if pilot_list==0 %}
            <span><i class="bi bi-person-dash"></i></span>&nbsp;
                <a href="/pilot_list">
                    <span class="w3-badge  w3-margin-left w3-red" >{{pilot_list}}</span>
                </a>
        {% else %}
            <span class=""><i class="bi bi-people-fill"></i></span>&nbsp;
            <a href="/pilot_list">
                <span class="w3-badge w3-margin-left" >{{pilot_list}}</span>
            </a>
        {% endif %}
    </div>
</div>
