{% extends "base.html" %}

{% set title = "Winden" %}

{% block content %}
{% if winden %}
    <table class="w3-table w3-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Baujahr</th>
            <th>Status</th>
        </tr>
    {% for winde in winden %}
        <tr>
            <td>{{ winde.winde_id }}</td>
            <td>{{ winde.name }}</td>
            <td>{{ winde.baujahr }}</td>
            <td>{{ winde.active }}</td>
        </tr>    
    {% endfor %}
    </table>
{% else %}
    <p>No winches.</p>
{% endif %}
{% endblock %}