{% extends "base.html" %}

{% set title = "Winden" %}

{% block content %}
{% include "./_admin_menu.html" %}
{% if winden %}
    <div class="w3-container"  style="overflow-x: auto;-webkit-overflow-scrolling: touch;"> 
    <table class="w3-table w3-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Baujahr</th>
            <th>Status</th>
            <th>Aktion</th>
        </tr>
    {% for winde in winden %}
        <tr>
            <td>{{ winde.winde_id }}</td>
            <td>{{ winde.name }}</td>
            <td>{{ winde.baujahr }}</td>
            <td>{{ 'Aktiv' if winde.active else 'Inaktiv' }}</td>
            <td>
                <a href="/winden/{{winde.winde_id}}" class="w3-button">Details</a>
            </td>
        </tr>    
    {% endfor %}
    </table>
    </div>
{% else %}
    <p>No winches.</p>
{% endif %}
{% endblock %}