{% extends "base.html" %}

{% set title = "Backups" %}

{% block content %}
{% include "./_admin_menu.html" %}
<a href="backups/create" class="w3-button w3-border w3-green">Backup erstellen</a>
{% if files %}
<table class="w3-table w3-bordered">
    <tr>
        <th>Name</th>
        <th>Size [kB]</th>
        <th>Datum</th>
        <th>Aktions</th>
    </tr>
{% for file in files %} 
    <tr>
        <td class="w3-cell-middle"> {{file.name}}</td>
        <td class="w3-cell-middle"> {{file.size / 1024}}</td>
        <td class="w3-cell-middle"> {{file.created}}</td>
        <td class="w3-cell-middle">
            <a href="backups_dl/{{file.name}}" class="w3-button">Download</a>
            <a href="backups/remove?name={{file.name}}" onclick="return confirm('Are you sure?')" class="w3-button">Löschen</a> 
        </td>
    </tr>   
{% endfor %}
</table>
{% else %}
 <p>No backups found.</p>
{% endif %}

{% endblock %}