{% extends "base.html" %}

{% set title = "Start" %}

{% block content %}
<div class="w3-row">
    <div class="w3-col s3"><span><i class="glyphicon glyphicon-calendar"></i></span><span>{{active_day}}</span></div>
    <div class="w3-col s3 {%if (winde_status|string ) !='WindeStatus.AUFGEBAUT' %}w3-border w3-border-red{% endif%}"><span><i class="glyphicon glyphicon-send"></i></span><span>{{active_winde}}</span></div>
    <div class="w3-col s3 w3-container"><span<i class="glyphicon glyphicon-user"></i></span><span>{{active_wf}}</span></div>
    <div class="w3-col s3 w3-container"><span>EWF:</span><span></span></div>
</div>


<div class="action-area">
    {% if pilot_list is none %} 
        <div class="w3-container" style="display:flex;flex-direction: column;gap:5vh;">
                <div class="w3-container">
                    {% if calendar_list %}
                        {% for pilot in calendar_list %} 
                            <span class="w3-tag w3-round w3-green">{{pilot.name}}</span>
                        {% endfor %}
                    {% else %}
                        <span class="w3-tag w3-round w3-theme-l4">Keine angemeldeten Piloten.</span>                
                    {% endif %}
                </div>

                <form class="w3-auto" action="/calendar_list/add_calendar_list" method="post" autocomplete="off">
                    <!-- TODO send actual list -->
                    <input type="hidden" name="pilot_list" value="Akos, Orsi" />
                    <button class="action w3-btn w3-large w3-green">Pilotenliste übernehmen</button>
                </form>
                <form class="w3-auto" action="/calendar_list/add_calendar_list" method="post" autocomplete="off">
                    <input type="hidden" name="pilot_list" value="" />   
                    <button class="action w3-btn w3-large w3-border">Pilotenliste überspringen</button>
                </form>                    
                <form class="w3-auto" action="/cancel_day" method="post" autocomplete="off">
                    <button class="action w3-btn w3-large w3-border w3-border-red">Flugtag stornieren</button>
                </form>
        </div>
    {% endif %}
</div>

{% endblock %}
