{% extends "base.html" %}

{% set title = "Start" %}

{% block content %}
{% include "./_process_status.html" %}

<div class="action-area">
    {% if pilot_list == 0 %} 
        <div class="w3-container" style="display:flex;flex-direction: column;gap:5vh;">
                <div class="w3-container">
                    {% if calendar_list %}
                        {% for pilot in calendar_list %} 
                            <span class="w3-tag w3-round {%if pilot.identified %}w3-green{% else %}w3-theme-l4 w3-border w3-border-red{% endif %}">{{pilot.name}}</span>
                        {% endfor %}
                        {% if calendar_list|length != calendar_list|selectattr('identified')|list|length %} 
                            <div class="w3-tag w3-round w3-theme-l4 w3-border w3-border-red" style="margin: 5px;">Leichtgrün: Unerkannt, werden als neuen Gastpiloten angelegt!</div> 
                        {% endif %}
                    {% else %}
                        <span class="w3-tag w3-round w3-theme-l4">Keine angemeldeten Piloten.</span>                
                    {% endif %}
                </div>

                <form class="w3-auto" action="/calendar_list/add_calendar_list" method="post" autocomplete="off">
                    <input type="hidden" name="pilot_list" value="{{calendar_list_json}}" />
                    <button class="action w3-btn w3-green">Pilotenliste übernehmen</button>
                </form>
                <form class="w3-auto" action="/calendar_list/add_calendar_list" method="post" autocomplete="off">
                    <input type="hidden" name="pilot_list" value="" />   
                    <button class="action w3-btn w3-border">Pilotenliste überspringen</button>
                </form>                    
                <form class="w3-auto" action="/cancel_day" method="post" autocomplete="off">
                    <button class="action w3-btn w3-border w3-border-red">Flugtag stornieren</button>
                </form>
        </div>
    {% endif %}
</div>

{% endblock %}
