{% extends "base.html" %}

{% set title = "Help" %}

{% block content %}

<div class="action-area">
    <div class="w3-container w3-auto" style="min-height: 80vh;">
        <svg height="400" xmlns="http://www.w3.org/2000/svg">
            <g>
                <rect width="50" height="30" x="0" y="0" rx="10" ry="10" fill="#3d8b40" fill-opacity="50" />
                <text x="10" y="20" fill="white" font-size="14" font-family="Helvetica">Start</text>
            </g>    
            <g>
                <rect width="75" height="30" x="80" y="0" rx="10" ry="10" fill="#3d8b40" fill-opacity="50" />
                <text x="90" y="20" fill="white" font-size="14" font-family="Helvetica">Kalendar</text>
            </g>
            <g>
                <rect width="60" height="30" x="40" y="50" rx="10" ry="10" fill="#3d8b40" fill-opacity="50" />
                <text x="50" y="70" fill="white" font-size="14" font-family="Helvetica">Winde</text>
            </g>              
            <g>
                <rect width="100" height="30" x="40" y="100" rx="10" ry="10" fill="#3d8b40" fill-opacity="50" />
                <text x="50" y="120" fill="white" font-size="14" font-family="Helvetica">Windenfahrer</text>
            </g>       
            <g>
                <rect width="70" height="30" x="40" y="150" rx="10" ry="10" fill="#3d8b40" fill-opacity="50" />
                <text x="50" y="170" fill="white" font-size="14" font-family="Helvetica">Schlepp</text>
            </g>   
            <g>
                <rect width="60" height="30" x="80" y="200" rx="10" ry="10" fill="#3d8b40" fill-opacity="50" />
                <text x="90" y="220" fill="white" font-size="14" font-family="Helvetica">Abbau</text>
            </g>   
            <g>
                <rect width="100" height="30" x="160" y="200" rx="10" ry="10" fill="#3d8b40" fill-opacity="50" />
                <text x="170" y="220" fill="white" font-size="14" font-family="Helvetica">Gastpiloten</text>
            </g>               
            <g>
                <rect width="55" height="30" x="120" y="250" rx="10" ry="10" fill="#3d8b40" fill-opacity="50" />
                <text x="130" y="270" fill="white" font-size="14" font-family="Helvetica">Ende</text>
            </g>   
        </svg>               
    </div>

{% endblock %}
