{% extends "base.html" %}

{% set title = "Start" %}

{% block content %}
{% include "./_process_status.html" %}

<div class="action-area">
    {% if not active_day %}
        <div class="w3-container">
            <form  class="w3-auto" action="/start_day" method="post" autocomplete="off">
                <button class="action w3-btn w3-green">Flugtag starten</button>
            </form>
        </div>
    {% elif pilot_list is none %} 
        <div class="w3-container w3-auto" style="display:flex;flex-direction: column;gap:5vh;">
                <form class="w3-auto" action="/calendar_list" method="get" autocomplete="off">
                    <button class="action w3-btn w3-green">Pilotenliste aus dem Kalender*</button>
                </form>
                <form class="w3-auto" action="/calendar_list" method="get" autocomplete="off">
                    <input type="hidden" name="skip" value="true" />
                    <button class="action w3-btn w3-border">Pilotenliste überspringen</button>
                </form>                    
                <form  class="w3-auto" action="/cancel_day" method="post" autocomplete="off">
                    <button class="action w3-btn w3-border w3-border-red">Flugtag stornieren</button>
                </form>
        </div>
    {% elif not active_winde %} 
        <div class="w3-container" style="display:flex;flex-direction: column;gap:5vh;">
            {% if winden %}
                {% for winde in winden %}
                    <form class="w3-auto" action="/activate_winde" method="post" autocomplete="off">
                        <button class="action w3-btn {% if winde.active %} w3-green {% else %} w3-border {% endif %}" 
                                        name="winde_id" value="{{winde.winde_id}}">"{{winde.name}}" auswählen</button>
                    </form>
                {% endfor %}
            {% endif %}
            <form class="w3-auto" action="/cancel_day" method="post" autocomplete="off">
                <button class="action w3-btn w3-border w3-border-red">Flugtag stornieren</button>
            </form>
        </div>
    {% elif (winde_status|string ) != "WindeStatus.AUFGEBAUT" %}         
        <div class="w3-container" style="display:flex;flex-direction: column;gap:5vh;">
            <form class="w3-auto" action="/winden/{{active_winde}}/aufbau" method="get" autocomplete="off">
                <button class="action w3-btn w3-green" name="winde_id" value="{{active_winde}}">Aufbau {{active_winde}} starten</button>
            </form>
            <form class="w3-auto" action="/cancel_day" method="post" autocomplete="off">
                <button class="action w3-btn w3-border w3-border-red">Flugtag stornieren</button>
            </form>
        </div>
    {% elif (winde_status|string ) == "WindeStatus.AUFGEBAUT" and not active_wf %}
        <div class="w3-container" style="display:flex;flex-direction: column;gap:10vh;">
            <form class="w3-auto" action="/select_wf" method="get" autocomplete="off">
                <button class="action w3-btn w3-green">Windenfahrer auswählen</button>
            </form>
            <form class="w3-auto" action="/winden/{{active_winde}}/abbau" method="get" autocomplete="off">
                <button class="action w3-btn w3-border w3-border-red">Abbau {{active_winde}} starten </button>
            </form>
        </div>
    {% else %}
        <div class="w3-container" style="display:flex;flex-direction: column;gap:10vh;">
            <button class="action w3-btn w3-green">Schlepp starten</button>
            <form class="w3-auto" action="/winden/{{active_winde}}/abbau" method="get" autocomplete="off">
                <button class="action w3-btn w3-border w3-border-red">Abbau {{active_winde}} starten </button>
            </form>
        </div>        
    {% endif %}
</div>

{% endblock %}
