{% extends "base.html" %}

{% set title = "Piloten" %}

{% block content %}
{% include "./_admin_menu.html" %}
{% if piloten %}
<div class="w3-container"  style="overflow-x: auto;-webkit-overflow-scrolling: touch;"> 
    <table class="w3-table w3-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    {% for pilot in piloten %}
        <tr>
            <td>{{ pilot.id }}</td>
            <td>{{ pilot.name }}</td>
            <td>{{ pilot.status }}</td>
        </tr>    
    {% endfor %}
    </table>
    </div> 
{% else %}
    <p>No pilots.</p>
{% endif %}
{% endblock %}