{% extends "base.html" %}

{% set title = "Reports" %}

{% block content %}
{% include "./_admin_menu.html" %}
{% if reports %} 
    <form>
        <label for="sel_reports">Report auswählen</label>
        <select class="w3-select" id="sel_reports" onchange="self.location=this.options[this.selectedIndex].value">
            <option value="/reports">Auswählen ... </option>
        {% for key in reports.keys() %}
            <option value="/reports/{{key}}">{{reports[key]}}</option>
        {% endfor %}
        </select>
    </form>

{% else %}
 <p>No reports</p>
{% endif %}


{% if selected_report %} 
    <h2>{{selected_report.display_name}}</h2>
    <div class="w3-bar">
        <form method="get" action="/reports/{{selected_report.report_id}}/export">
            <button type="submit" class="w3-button w3-bordered w3-green">Export nach XLSX</button>
         </form>
    </div>
   <table class="w3-table w3-bordered">
    <tr>
        {% for c in selected_report.columns %} 
            <th>{{c}}</th>
        {% endfor %}
    </tr>
        {% for row in selected_report.data %} 
            <tr>
                {% for field in row %} 
                <th>{{field}}</th>
            {% endfor %}
            </tr>
        {% endfor %}
   </table>

{% endif %}

{% endblock %}