{% extends "base.html" %}

{% set title = "Neuer Schlepp" %}

{% block content %}
{% include "./_process_status.html" %}

    {% if active_winde and active_wf and schlepp %}
    <div class="action-area">
            <div class="w3-container" style="display:flex;flex-direction: column;gap:5vh;">
                <div class="w3-auto">
                    <h2>{{schlepp[0].pilot_name}}</h2>
                    <h4>{{schlepp[0].pilot_status}}</h4>
                    <label style="white-space: nowrap;">Schlepps heute</label>
                    <div style="font-size: 24pt; text-align: center;">{{schlepp[0].schlepps_heute}}</div>
                    <label>Zugkraft</label>
                    <div style="font-size: 24pt; text-align: center;">{{schlepp[0].zugkraft}}</div>                    
                </div>
                <form class="w3-auto" action="/schlepps/{{schlepp[0].schlepp_id}}" method="post">
                    <button class="action w3-btn w3-green" name="status" value="completed">Schlepp beendet</button>
                </form>
                <form class="w3-auto" action="/schlepps/{{schlepp[0].schlepp_id}}" method="post">
                    <button class="action w3-btn w3-border w3-border-red" name="status" value="canceled">Schlepp abbrechen</button>
                </form>
            </div>
    </div>

    {% else  %}
        Das sollte nicht passieren.
    {% endif %}

{% endblock %}