{% extends "base.html" %}

{% set title = "Neuer Schlepp" %}

{% block content %}

{% if data: %}
<form action="/schlepps" method="post" class="w3-container" autocomplete="off">
    <label>
        Winde [Hinweis: darf nur eine mit offenem Flugtag geben - disabled]
        <input type="text" name="winden_id"  class="w3-input" value="{{data.winde_id}}" disabled />
     </label>
    <label>
        Windenfahrer [Hinweis: von der letzten Schlepp vorbefüllt sonst Autocomplete]
        <div class="autocomplete"  style="width: 100%;">
            <input type="text" name="windenfahrer"  class="w3-input" id="ax-windenfahrer" />
        </div>
     </label>
     <label>
        EWF [Hinweis: wenn WF WiA ist ]
        <input type="text" name="ewf"  class="w3-input" />
     </label>     
    <label>
       Pilot [Hinweis: Autocomplete]
       <div class="autocomplete" style="width: 100%;">
            <input type="text" name="pilot"  class="w3-input" id="ax-piloten" />
        </div>
    </label>
    <label>
        Gewicht [kg] 
        <input type="number" name="gewicht"  class="w3-input" />
     </label>    
    <input type="submit" value="submit" disabled/>
</form>
<script>
    var el = document.getElementById('ax-windenfahrer');
    var windenfahrer = [{% for wf in data.windenfahrer %}
                            '{{wf.id}}', 
                        {% endfor %}
                        ];
    autocomplete(el,  windenfahrer );

    var el = document.getElementById('ax-piloten');
    var piloten = [{% for p in data.piloten %}
                            '{{p.id}}', 
                    {% endfor %}
                ];
    autocomplete(el,  piloten );

</script>
{% endif %}

{% endblock %}