{% extends "base.html" %}

{% set title = "Schlepps" %}

{% block content %}
{% include "./_admin_menu.html" %}
    {% if schlepps %}
    <table class="w3-table w3-bordered">
        <tr>
            <th>Flugtag</th>
            <th>Pilot</th>
            <th>Starts</th>
            <th>Winde</th>
            <th>WF</th>
            <th>EWF</th>

            <th>Status</th>
            <th>Betrag</th>
        </tr>        
        {% for schlepp in schlepps %}
        <tr>
            <td>{{ schlepp.datum }}</td>
            <td>{{ schlepp.pilot_id }}</td>    
            <td>#{{ schlepp.schlepp_no }} / {{ schlepp.schlepps_heute }}</td>            
            <td>{{ schlepp.winde_id }}</td>
            <td>{{ schlepp.wf_id }}</td>
            <td>{{ schlepp.ewf_id }}</td>
            <td>{{ schlepp.status }}</td>
            <td>0</td>
        </tr>    
    {% endfor %}
    </table>
    {% else %}
        <p>No schlepps.</p>
    {% endif %}


{% endblock %}
