{% extends "base.html" %}

{% set title = "Start" %}

{% block content %}
{% include "./_process_status.html" %}


<div class="action-area">
    {% if wf_list %} 
        <form class="w3-auto"  action="/select_wf" method="post">
            <div class="w3-container w3-auto"  style="display:flex;flex-direction: column;gap:1vh;max-height: 40vh;overflow-y: auto;-webkit-overflow-scrolling: touch;">
            {% for wf in wf_list %}
            <p>
                <input class="w3-radio" type="radio" name="active_wf" value="{{wf.id}}" {% if loop.index==1 %}checked{% endif %}>
                <label>{{loop.index}} {{wf.name}} {{wf.status}}</label>
            </p>
            {% endfor %}
            </div>
            <button class="action w3-btn w3-large w3-green">Windenfahrer übernehmen</button>
        </form>
    {% else %}
        Das sollte nicht passieren - keine Windenfahrer gefunden.
    {% endif %}
</div>

{% endblock %}
